<div class="wrapper">
    <div class="form_container">
      
        <div class="heading">
            <h2>Registration Form</h2>
         </div>
       
          <div class="form_wrap">
            <div class="form_item">
              <label>Email Address</label>
              <input class="form-control" type="email">
           </div>
         </div>
         <div class="form_wrap">
            <div class="form_item">
              <label>Password</label>
              <input class="form-control" type="password">
           </div>
         </div>

          <div class="btn">
            <input type="submit" value="Get Started">
         </div>
        
    </div>
   </div>
   

<!-- <div class="wrapper">

                <div class="heading">
                    <h2>Registration Form</h2>
                </div>
                
                    <div class="form_wrap">
                        <div class="form_item">
                            <label>Email Address</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="form_wrap">
                        <div class="form_item">
                            <label>Password</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="form_wrap">
                        <div class="form_item">
                            <div class="btn">
                                <input type="submit" value="Get Started">
                            </div>
                        </div>
                    </div>
                     <span>Need an Account ? <a href="">create a new account</a></span>
                

                </div> -->
