<div class="header">
    <div class="inner_header">
        <div class="header_info mt-3">
            <span class="p-2"><i class="fa-solid fa-envelope"></i> kisansakha@gmail.com</span>
            <span class="p-2"><i class="fa-solid fa-location-dot"></i> Rajwada chouraha</span>
            <span class="p-2"><i class="fa-solid fa-phone"></i> 7779089012</span>
        </div>
        <div class="header_icons mt-3">
            <div class="header_search me-2">
                <i class="fa-solid fa-magnifying-glass p-2"></i>
            </div>
            <div class="social_icons ps-2">
                <i class="fa-brands fa-facebook-square p-2"></i>
                <i class="fa-brands fa-twitter-square p-2"></i>
                <i class="fa-brands fa-instagram-square p-2"></i>
            </div>
        </div>
    </div>
    
</div>

<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            </ul>
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class=" fas fa-user" id="user" ></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">sign up</a></li>
                        <li><a class="dropdown-item" href="#">sign in</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</nav>