.banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../assets/img/cold_storage3.jpg');
    width:100%;
    height:350px;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.banner h1{
    font-size:28px;
    font-weight:bold;
    color: #FEFFED;
}

.banner p{
    font-size:24px;
    color: #FEFFED;
    text-align: center;
}

.storage{
    border-radius:10px;
    margin:auto;
    width:98%;
    overflow:hidden;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.storage img{
    width:100%;
    height:350px;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    color:#FEFFED;
    background-color:#72A603;
    clip-path: ellipse(38px 34px at 98% 5%);
    transition:all 0.5s ease-in-out;
    padding:10px;
    font-size:20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.overlay button{
    padding:10px;
    border-radius: 10px;
    color:#72A603;
    background-color:#FEFFED;
}

.overlay button:hover{
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
}

.overlay i{
    float: right;
    font-size:24px;
    color:#FEFFED;
    opacity:1;
    transition: all 0.5s linear;
}

.storage:hover i{
    opacity:0;
}

.storage:hover .overlay{
    clip-path: ellipse(610px 410px at 90% 5%);
}