<div class="banner">
    <h1>Storage</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio necessitatibus, asperiores impedit ipsam rem repellat sit cum culpa voluptatum dolore?</p>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="card storage">

                <div class="overlay">
                    <i class="fa-solid fa-circle-info"></i>
                    <p>Items : <span>Apple, Mango, Watermelon</span></p>
                    <p>Avalaible space : 140 sqft</p>
                    <p>Price : Rs 100 per kg</p>
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal">Apply</button>
                </div>
                <img src="../../assets/img/cold_storage3.jpg" alt="">

            </div>
        </div>

        
    </div>
</div>


<!-- storage modale start -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply for storage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
            <button type="button" style="color:red;" data-bs-dismiss="modal">Close</button>
            <button type="button" >Save changes</button>
            </div>
        </div>
    </div>
</div>
