
<div class="wrap">
    <div class="box">
        <div class="box_img">
            <img src="{{details.images}}" alt="">
        </div>
        <div class="box_content">
            <h1>Name :  {{details.name}}</h1>
            <p>Description : {{details.description}}</p>
            <p>Charges   : {{details.charges}}</p>
            <p>Travelling Charges : {{details.travellingcharges}}</p>
                <button class="book"  mat-raised-button>Book Now</button>
        </div>
    </div>
</div>









<!-- <div class="wrap mt-1">
    <div class="product">
        <div class="product-img">
            <img src="{{details.images}}" alt="">
            
        </div>
        <div class="product-listing">
            <div class="content">
                <h1 class="name">{{details.name}}</h1>
                <p class="info">{{details.description}}</p>
                <p class="price">{{details.charges}}</p>
                <p class="price">{{details.travellingcharges}}</p>
                <div class="btn-and-rating-box">
                    <div class="rating">
                        <img src="https://github.com/kunaal438/product-page/blob/master/img/star.png?raw=true" alt="">
                        <img src="https://github.com/kunaal438/product-page/blob/master/img/star.png?raw=true" alt="">
                        <img src="https://github.com/kunaal438/product-page/blob/master/img/star.png?raw=true" alt="">
                        <img src="https://github.com/kunaal438/product-page/blob/master/img/star.png?raw=true" alt="">
                        <img src="https://github.com/kunaal438/product-page/blob/master/img/star%20stroke.png?raw=true" alt="">
                    </div>
                    <button class="btn">{{'buy now'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    
</div> -->
<!-- //carasol -->
