
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item c_item active">
            <img src="../../assets/img/farmer1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption c_caption d-none d-md-block">
                <h5 class="m-3">First slide label</h5>
                <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, doloribus totam odit placeat quos reiciendis?</p>
                <button class="btn p-2 m-3">View More</button>
            </div>
        </div>
        <div class="carousel-item c_item">
            <img src="../../assets/img/farmer2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption c_caption d-none d-md-block">
                <h5 class="m-3">Second slide label</h5>
                <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, doloribus totam odit placeat quos reiciendis?</p>
                <button class="btn p-2 m-3">View More</button>
            </div>
        </div>
        <div class="carousel-item c_item">
            <img src="../../assets/img/farmer3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption c_caption d-none d-md-block">
                <h5 class="m-3">Third slide label</h5>
                <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, doloribus totam odit placeat quos reiciendis?</p>
                <button class="btn p-2 m-3">View More</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="text">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti facilis nesciunt consequatur facere iste?  eaque nulla culpa delectus a quos quas hic beatae non laudantium? Vel, illo autem necessitatibus quo molestias alias libero sequi deserunt! Id beatae assumenda quibusdam nihil ratione commodi ad quae? Doloremque molestiae eum nihil odio, aspernatur, incidunt omnis officia, ad molestias impedit pariatur. Maxime explicabo eligendi minima ipsa perferendis, ea minus natus dolore accusamus nisi? A, dolorem reiciendis?

                </h2>
            </div>
           
        </div>
        <div class="col-md-6">
        <div class="container mt-4">
                 <div class="row">
                     <div class="col-md-12">
                        <div class="form">
                            <div class="form-group">
                                <label for="fname">Owner Name</label>
                              
                              
                                <input type="text"  placeholder="Your name..">
                    
                            </div>
                    
                            <div class="form-group">
                            
                                <label for="fname">Land Image</label>
                              
                              
                                <input type="file" placeholder="Your mobile..">
                    
                            </div>
                            <div class="form-group">
                            
                                <label for="fname">Description</label>
                              
                              
                                <input type="text" placeholder="Your mobile..">
                    
                            </div>
                            <div class="form-group">
                            
                                <label for="fname">Mobile No.</label>
                              
                              
                                <input type="text" placeholder="Your mobile..">
                    
                            </div>
                            <div class="form-group">
                            
                                <label for="fname">Address</label>
                              
                              
                                <input type="text" placeholder="Your mobile..">
                    
                            </div>
                            <div class="form-group">
                                <label>Duration</label>
                                   <select name="country">
                                  <option>0-6month</option>
                                  
                                  <option>1 yrs</option>
                                  <option>0-2yrs</option>
                                  <option>0-3yrs</option>
                                   </select>
                             </div>
                            
                       </div>
        
                                
                        <div class="btn">
                            <input type="submit"  value="Get Started">
                        </div>
                
                         </div>
                 </div>
            </div>
                         
                </div>
           
    </div>
</div>

