
<div class="container">
    <div class="row mt-5 shadow-sm">
        <div class="col-12">
            <div class=" card login_card  border-0">
                <h1>Registration Form</h1>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class=" card login_card  border-0">
            
            <mat-form-field appearance="fill">
                <mat-label>Enter your name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter your phone no.</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter your occupation</mat-label>
                <input matInput>
            </mat-form-field>

            </div>
        </div>

        <div class="col-md-6 col-sm-12">

            <div class=" card login_card  border-0">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your address</mat-label>
                    <input matInput>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon style="margin-right: 10px;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Confirm your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon style="margin-right: 10px;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
    
                <mat-checkbox class="example-margin">I agree with terms and conditions</mat-checkbox>
    
                <button class="mt-5">Register</button>
            </div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>
