<div class="container-fluid">
    <div class="banner">
        <div class="ball"></div>
        <hr>
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic odio beatae quam illum soluta saepe aperiam autem perspiciatis! Minima eligendi possimus ipsum eveniet dignissimos quibusdam doloribus quod nostrum, asperiores nobis.</p>
    </div>
</div>

<div  class="services">
    <div  *ngFor="let item of tools" class="flip-card card service_card border-0 shadow-sm">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="img_card">
                    <img src="{{item.images}}" alt="">
                </div>
                <div class="content_card p-2">
                    <h1>{{item.toolname}}</h1>
                    <p>Price :{{item.charges}}</p>
                </div>
            </div>
            <div class="flip-card-back">
                <p>Service name : {{item.toolname}}</p>
                <p>Charges : {{item.charges}}</p>
                <p>Description : {{item.desc}}</p>
                <button (click)="service_item(item._id)" class="btn">Book Now</button>
            </div>
        </div>
    </div>

    <!-- <div class="flip-card card service_card border-0 shadow-sm">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="img_card">
                    <img src="https://inteng-storage.s3.amazonaws.com/images/NOVEMBER/11_Robots_Agriculture_Farming_Robotics12.jpg" alt="">
                </div>
                <div class="content_card p-2">
                    <h1>Harvester</h1>
                    <p>Price :1000</p>
                </div>
            </div>
            <div class="flip-card-back">
                <p>Service name : Reaper binding</p>
                <p>Charges : 1000</p>
                <p>Description : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptates adipisci asperiores quos vero. Placeat exercitationem fuga facilis consequuntur alias!</p>
                <button class="btn">Book Now</button>
            </div>
        </div>
    </div>

    <div class="flip-card card service_card border-0 shadow-sm">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="img_card">
                    <img src="https://inteng-storage.s3.amazonaws.com/images/NOVEMBER/11_Robots_Agriculture_Farming_Robotics12.jpg" alt="">
                </div>
                <div class="content_card p-2">
                    <h1>Harvester</h1>
                    <p>Price :1000</p>
                </div>
            </div>
            <div class="flip-card-back">
                <p>Service name : Reaper binding</p>
                <p>Charges : 1000</p>
                <p>Description : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptates adipisci asperiores quos vero. Placeat exercitationem fuga facilis consequuntur alias!</p>
                <button class="btn">Book Now</button>
            </div>
        </div>
    </div>

    <div class="flip-card card service_card border-0 shadow-sm">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="img_card">
                    <img src="https://inteng-storage.s3.amazonaws.com/images/NOVEMBER/11_Robots_Agriculture_Farming_Robotics12.jpg" alt="">
                </div>
                <div class="content_card p-2">
                    <h1>Harvester</h1>
                    <p>Price :1000</p>
                </div>
            </div>
            <div class="flip-card-back">
                <p>Service name : Reaper binding</p>
                <p>Charges : 1000</p>
                <p>Description : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptates adipisci asperiores quos vero. Placeat exercitationem fuga facilis consequuntur alias!</p>
                <button class="btn">Book Now</button>
            </div>
        </div>
    </div>

    <div class="flip-card card service_card border-0 shadow-sm">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="img_card">
                    <img src="https://inteng-storage.s3.amazonaws.com/images/NOVEMBER/11_Robots_Agriculture_Farming_Robotics12.jpg" alt="">
                </div>
                <div class="content_card p-2">
                    <h1>Harvester</h1>
                    <p>Price :1000</p>
                </div>
            </div>
            <div class="flip-card-back">
                <p>Service name : Reaper binding</p>
                <p>Charges : 1000</p>
                <p>Description : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptates adipisci asperiores quos vero. Placeat exercitationem fuga facilis consequuntur alias!</p>
                <button class="btn">Book Now</button>
            </div>
        </div>
    </div>

    <div class="flip-card card service_card border-0 shadow-sm">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="img_card">
                    <img src="https://inteng-storage.s3.amazonaws.com/images/NOVEMBER/11_Robots_Agriculture_Farming_Robotics12.jpg" alt="">
                </div>
                <div class="content_card p-2">
                    <h1>Harvester</h1>
                    <p>Price :1000</p>
                </div>
            </div>
            <div class="flip-card-back">
                <p>Service name : Reaper binding</p>
                <p>Charges : 1000</p>
                <p>Description : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptates adipisci asperiores quos vero. Placeat exercitationem fuga facilis consequuntur alias!</p>
                <button class="btn">Book Now</button>
            </div>
        </div>
    </div>

    <div class="flip-card card service_card border-0 shadow-sm">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="img_card">
                    <img src="https://inteng-storage.s3.amazonaws.com/images/NOVEMBER/11_Robots_Agriculture_Farming_Robotics12.jpg" alt="">
                </div>
                <div class="content_card p-2">
                    <h1>Harvester</h1>
                    <p>Price :1000</p>
                </div>
            </div>
            <div class="flip-card-back">
                <p>Service name : Reaper binding</p>
                <p>Charges : 1000</p>
                <p>Description : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptates adipisci asperiores quos vero. Placeat exercitationem fuga facilis consequuntur alias!</p>
                <button class="btn">Book Now</button>
            </div>
        </div>
    </div>

    <div class="flip-card card service_card border-0 shadow-sm">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="img_card">
                    <img src="https://inteng-storage.s3.amazonaws.com/images/NOVEMBER/11_Robots_Agriculture_Farming_Robotics12.jpg" alt="">
                </div>
                <div class="content_card p-2">
                    <h1>Harvester</h1>
                    <p>Price :1000</p>
                </div>
            </div>
            <div class="flip-card-back">
                <p>Service name : Reaper binding</p>
                <p>Charges : 1000</p>
                <p>Description : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptates adipisci asperiores quos vero. Placeat exercitationem fuga facilis consequuntur alias!</p>
                <button  class="btn">Book Now</button>
            </div>
        </div>
    </div>

</div> -->
