<div class="container-fluid" style="margin: 0;padding:0;">
    <div class="banner">
        <hr>
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic odio beatae quam illum soluta saepe aperiam
            autem perspiciatis! Minima eligendi possimus ipsum eveniet dignissimos quibusdam doloribus quod nostrum,
            asperiores nobis.</p>
    </div>
</div>

<div class="container">

    <div *ngFor="let item of tools | paginate:{itemsPerPage:8,currentPage:page,totalItems:totalLength}"
        class="row cards2">
        <div class="col-lg-6 col-md-6 col-sm-12 left2">
            <img src="{{item.images}}" alt="" class="left2_img">
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 p-2 right2">
            <h1>{{item.name}}</h1>
            <button mat-raised-button class="book_now" (click)="setData(item._id,item.charges,item.name)"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Book
                Now</button>
            <button mat-raised-button class="view_more" (click)="service_item(item._id)">View More</button>

            <p class="description">Description : {{item.description}}</p>
            <h4>Price : {{item.charges}}</h4>
            <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="icons">
                <i class="fa-solid fa-comment"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
    </div>

</div>
<pagination-controls class="my-pagination" (pageChange)="page=$event"></pagination-controls>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasRightLabel">{{name}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="service">
            <h1>Total:{{price}}</h1>
            <div class="input">
                <input type="text" name="address" id="address" required title="Please enter your Password here" />
                <label for="username">Address</label>
            </div>
            <div class="input">
                <input type="text" name="mobile" id="mobile" required title="Please enter your Password here" />
                <label for="username">Mobile</label>
            </div>
            <div class="input">
                <input type="date" name="date" id="date" required title="Please enter your Password here" />
                <!-- <label for="username">Booking Date</label> -->
            </div>
            <div class="input form-group">
                <select [(ngModel)]="days">
                    <option>Selected</option>
                    <option>week</option>
                    <option>days</option>
                    <option>month</option>
                </select>
            </div>
            <div class="input">
                <input type="number" min="1" value="1" #number (change)="getData($event)">
            </div>

            <button class="book" (click)="save()">Book Service</button>
            <button class="cancel">Cancel</button>


        </div>

    </div>
</div>