<div class="container d-flex flex-wrap">
  <div class="card m-4" style="width: 18rem;" *ngFor="let store of storages">
    <img src="{{store.image}}" class="card-img-top" width="280" height="190" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{store.name}}</h5>
      <p class="card-text">{{store.storage_description}}</p>
      <button class="view_more" (click)="service_item(store._id)"  mat-raised-button>View More</button>
      <a href="#" class="btn btn-warning">View More</a>
    </div>
  </div>

  <div class="card m-4" style="width: 18rem;" *ngFor="let service of services">
    <img src="{{service.images}}" class="card-img-top" width="280" height="190" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{service.name}}</h5>
      <p class="card-text">{{service.description}}</p>
      <button mat-raised-button class="view_more" (click)="service(service._id)">{{'View More'|translate}}</button>
    </div>
  </div>
</div>

