<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Area</th>
        <th scope="col">Population</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let country of storages">
        <td>
          
          {{ country.name }}
        </td>
        <td>{{ country.charges  }}</td>
        <td>{{ country._id}}</td>
      </tr>
      <tr *ngFor="let country of services">
        <td>
        
          {{ country.name }}
        </td>
        <td>{{ country.charges  }}</td>
        <td>{{ country._id}}</td>
      </tr>
    </tbody>
  </table>
