<!-- banner starts -->

<div class="container-fluid">
    <div class="row" style="height:80vh">
        <div class="col-6">
            
        </div>
        <div class="col-6"></div>
    </div>
</div>

<!-- banner ends -->

<div class="container works mt-2 mb-5">
    <div class="row">
        <div class="col-md-6 col-sm-12  p-5 works_content">
            <h2>Services</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus asperiores dolorum cupiditate. Excepturi ipsam deserunt temporibus reprehenderit soluta dolore voluptatibus?</p>
            <button class="btn" routerLink="services">View More</button>
        </div>
        <div class="col-md-6 col-sm-12 works_img">
            <div id="carouselExampleFade" data-interval="1000" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item work_item active">
                        <img src="../../assets/img/c2 (1).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (2).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (3).jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 works_img">
            <div id="carouselExampleFade" data-interval="1000" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item work_item active">
                        <img src="../../assets/img/c2 (1).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (2).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (3).jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 p-5 works_content">
            <h2>Contract Farming</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus asperiores dolorum cupiditate. Excepturi ipsam deserunt temporibus reprehenderit soluta dolore voluptatibus?</p>
            <button class="btn" routerLink="contract-farming">View More</button>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-6 col-sm-12 p-5 works_content">
            <h2>Storage</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus asperiores dolorum cupiditate. Excepturi ipsam deserunt temporibus reprehenderit soluta dolore voluptatibus?</p>
            <button class="btn" routerLink="storage">View More</button>
        </div>
        <div class="col-md-6 col-sm-12 works_img">
            <div id="carouselExampleFade" data-interval="1000" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item work_item active">
                        <img src="../../assets/img/c2 (1).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (2).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (3).jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <h1 class="text-center">Our Team</h1>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 " style="margin:auto">
                <div class="item">
                    <div class="overlay">
                        <h1>ShriRam Mishra</h1>
                        <div class="icon">
                            <i class="fa-brands fa-facebook-square"></i>
                            <i class="fa-brands fa-twitter-square"></i>
                            <i class="fa-brands fa-instagram-square"></i>
                        </div>
                    </div>
                    <img src="../../assets/img/ram.jpg" class="img-fluid" alt="">
                    <div class="des">
                        Ram
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 " style="margin:auto">
                <div class="item">
                    <div class="overlay">
                        <h1>ShriRam Mishra</h1>
                        <div class="icon">
                            <i class="fa-brands fa-facebook-square"></i>
                            <i class="fa-brands fa-twitter-square"></i>
                            <i class="fa-brands fa-instagram-square"></i>
                        </div>
                    </div>
                    <img src="../../assets/img/ram.jpg" class="img-fluid" alt="">
                    <div class="des">
                        Ram
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 " style="margin:auto">
                <div class="item">
                    <div class="overlay">
                        <h1>ShriRam Mishra</h1>
                        <div class="icon">
                            <i class="fa-brands fa-facebook-square"></i>
                            <i class="fa-brands fa-twitter-square"></i>
                            <i class="fa-brands fa-instagram-square"></i>
                        </div>
                    </div>
                    <img src="../../assets/img/palak1.jpg" class="img-fluid" alt="">
                    <div class="des">
                        Ram
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 " style="margin:auto">
                <div class="item">
                    <div class="overlay">
                        <h1>ShriRam Mishra</h1>
                        <div class="icon">
                            <i class="fa-brands fa-facebook-square"></i>
                            <i class="fa-brands fa-twitter-square"></i>
                            <i class="fa-brands fa-instagram-square"></i>
                        </div>
                    </div>
                    <img src="../../assets/img/devika.jpg" class="img-fluid" alt="">
                    <div class="des">
                        Ram
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>