/* *{
    padding:0;
    margin:0;
    box-sizing:border-box;
} */

::ng-deep :root{
    --orange:#f1b814;
    --pink:#bd1e51;
    --purple:#490b3d;
}

/* banner starts */



/* banner ends */

.works{
    background-image: url('../../assets/img/bg_img.jpg');
}

.works_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works_content h2{
    font-size:26px;
    color:brown;
    font-weight:bold;
    padding: 10px;
}

.works_content p{
    font-size:18px;
    padding:5px;
}

.works_content button{
    padding:10px;
    font-size:18px;
    color:brown;
    border:1px solid #72A603;
    box-shadow: inset 0px 0px 0px #72A603;
    transition:ease-out 0.4s;
}

.works_content button:hover{
    box-shadow: inset 0 0 0 50px #72A603;
}

.works_img{
    height:400px;
}

.work_item{
    height:400px;
}

