/* *{
    padding:0;
    margin:0;
    box-sizing:border-box;
} */

::ng-deep :root{
    --orange:#f1b814;
    --pink:#bd1e51;
    --purple:#490b3d;
}

/* banner starts */



/* banner ends */

.works{
    background-image: url('../../assets/img/bg_img.jpg');
}

.works_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works_content h2{
    font-size:26px;
    color:brown;
    font-weight:bold;
    padding: 10px;
}

.works_content p{
    font-size:18px;
    padding:5px;
}

.works_content button{
    padding:10px;
    font-size:18px;
    color:brown;
    border:1px solid #72A603;
    box-shadow: inset 0px 0px 0px #72A603;
    transition:ease-out 0.4s;
}

.works_content button:hover{
    box-shadow: inset 0 0 0 50px #72A603;
}

.works_img{
    height:400px;
}

.work_item{
    height:400px;
}

.team{
    width:260;
    height:330;
    margin:4em 0;
    position:relative;
}

.team img{
    width:100%;
    height:310px;
}

.team h1{
    color:var(--purple);
    margin:2em;
}

.team .item{
    position:relative;
}

.team .des{
    background: var(--pink);
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--pink);
    clip-path: circle(20px at 100% 100%)
}

.item:hover .overlay{
    clip-path: circle(200% at 100% 100%)
}

.overlay h1{
    text-align: center;
    color:white;
    font-weight:bold;
}

.overlay .icon{
    width: 100%;
    text-align: center;
}

.overlay .icon i{
    margin:10px;
    font-size:24px;
    color:white;
    padding:10px;
    border-radius:50%;
    background-color:var(--purple);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}

.overlay .icon i:hover{
    background-color:var(--orange);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}